:root {
    --text-color:#434455;
    --title-nav-text-color:#2E2F42;
    --btn-text-hover-focus: #404BBF
;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-size: 16px;
    color: #2E2F42;
}

.list {
list-style: none;
}

.link {
text-decoration: none;
}
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}
/* Header */

.header {
}
.header-nav {
}


.header-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;   
}
.header-logo-web {
color: #4D5AE5;
}
.header-logo-studio {
color: #2E2F42;
}
.header-list {
}
.header-item {
}
.header-link {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-nav-text-color);
}

.header-link:hover , 
.header-link:focus{
    color: var(--btn-text-hover-focus);
}

.header-address {
}
.header-address-list {
}
.header-address-item {
}
.header-tel , .header-mail {
    font-style: normal;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}
.header-tel:hover , .header-mail:hover {
    color: var(--btn-text-hover-focus);
}
.header-tel:focus , .header-mail:focus {
    color: var(--btn-text-hover-focus);
}

/* Hero */
.hero {
background: #2E2F42;}
.hero-title {
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.hero-btn {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.hero-btn:hover ,
.hero-btn:focus {
    background: #404BBF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

/* Our advanteges */
.our-advanteges {
}
.our-advanteges-list {
}
.our-advanteges-item {
}
.list-subtitle-our-advanteges {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-nav-text-color);
}
.list-text-our-advanteges {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}

/* What are we doing */
.what-are-we-doing {
}
.subtitle-what-are-we-doing {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--title-nav-text-color);
}
.list-what-are-we-doing {
}
.item-what-are-we-doing {
}

/* Team */
.team {
    background: #F4F4FD;
}
.subtitle-team {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--title-nav-text-color);
}
.list-team {
}
.item-team {
}
.subtitle-team-list {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-nav-text-color);
}
.text-list-team {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}

/* Footer */
.footer {
    background: #2E2F42;
}
.footer-logo {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
}
.footer-logo-web {
    color: #4D5AE5;
}
.footer-logo-studio {
    color: #F4F4FD;
}
.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}

/* Portfolio */
.portfolio-title {

}
.portfolio {
}
.portfolio-list {
}
.portfolio-item-list {
}
.portfolio-button {
    font-family: inherit;
    background: #F4F4FD;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4D5AE5;
}
.portfolio-button:hover ,
.portfolio-button:focus {
background: var(--btn-text-hover-focus);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
}

.portfolio-examples-list {
}
.portfolio-examples-item {
}
.portfolio-item-subtitles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-nav-text-color);
}
.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.portfolio-link {

}
